<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="This is a website to be used by companies to detect insurance claim fraud">
    <meta name="keywords" content="insurance claim fraud, healthcare, fraud detection">
    <meta name="author" content="Laxmi">
    <link rel="icon" href="/ui/images/favicon.ico">

    <title>Healthcare Fraud Detection</title>

    <!-- Bootstrap core CSS -->
    <link href="/ui/css/bootstrap_landing.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/ui/css/custom-animations.css" rel="stylesheet">
    <link href="/ui/css/style1.css" rel="stylesheet">


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/ui/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  	<! -- ********** HEADER ********** -->
  	<div id="h">
		<div class="container" style="width:100%;">
			<div class="row">
				<h1 class="page-header">
                    Your One Stop Guide to Insurance Claim Fraud
                </h1>
				<a href="/login"><button class="btn btn-lg btn-info btn-register">Register</button></a>
			</div>
		</div>
	</div>

	<! -- ********** FIRST ********** -->
	<div id="w">
		
        <!-- Marketing Icons Section -->
        <div class="info-blocks row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> CPT Code Catalog</h4>
                    </div>
                    <div class="panel-body">
                        <p>Ever had difficulties in finding CPT code information? Use our application to search for CPT codes and download them as well.
                        </p>
                        <a href="/searchCPT" class="btn btn-default more-btn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Detect fraud in Employee Claims</h4>
                    </div>
                    <div class="panel-body">
                        <p>Upload your Employee claims to detect fraud and know the fraud patterns and statistics in your company</p>
                        <a href="/login" class="btn btn-default more-btn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Check your insurance claim</h4>
                    </div>
                    <div class="panel-body">
                        <p>Wondering if your insurance claim is medically sound? Check your insurance claim using our application</p>
                        <a href="/login" class="btn btn-default more-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
	</div><! --/container -->
	
	
	<! -- ********** CREDITS ********** -->
	<div id="c">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 centered">
					<p>Copyright 2015 | San Jose State University</p>
				</div>
			</div>
		</div><! --/container -->
	</div><! --/C -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/ui/js/jquery.min.js"></script>
    <script src="/ui/js/bootstrap.min.js"></script>
    <script src="/ui/js/retina-1.1.0.js"></script>
    <script src="/ui/js/jquery.unveilEffects.js"></script>
  </body>
</html>
