         <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
             </div>
            <!-- Top Menu Items -->
            <% if(session != "undefined"){ %>
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    	<i class="fa fa-user"></i>
                    	<span id="name">
                    		<% if(session.firstname != ""){ %>
                    		<%= session.firstname %>    				
							<% } %>
						</span>  
						<b class="caret"></b>
					</a>
                    <ul class="dropdown-menu">
                       
                        <li class="divider"></li>
                        <li>
                            <a href="LogoutServlet"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <% } %>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>   
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Upload Data <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="/employeeDetails">Employee Info</a>
                            </li>
                            <li>
                                <a href="/employeeBillDetails" onclick="checkLocalStorage();" id="employeeBill">Employee Claim Info</a>
                            </li>
                            <li>
                                <a href="#" onclick="checkLocalStorage();" id="employeeBill">Employee Claim Image Upload</a>
                            </li>
                        </ul>
                    </li>                 
                    <li class="active">
                        <a href="/viewEmployees"><i class="fa fa-fw fa-file"></i>View Employees</a>
                    </li>   
                     <li class="active">
                        <a href="/viewClaims"><i class="fa fa-fw fa-file"></i>View Fraud Claims</a>
                    </li>  
                     <li class="active">
                        <a href="/searchCPT"><i class="fa fa-fw fa-file"></i>Search CPT Details</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    <script type="text/javascript">
  	function checkLocalStorage(){
  		if(localStorage.getItem("diagnosisDescription")===null){
  			console.log("localstorage not present");
  			document.getElementById("employeeBill").href="IcdDescription";
  		}
  		else{
  			console.log("localstorage present");
  			document.getElementById("employeeBill").href="uploadEmployeeBillInfoLocalStorage.jsp";
  		}
  	}
  	
  </script>
                    

 