         <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        	<% if(session != null){ %>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
             </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    	<i class="fa fa-user"></i>
                    	<span id="name">
                    		<% if(session.firstname != ""){ %>
                    		<%= session.firstname %>    				
							<% } %>
						</span>  
						<b class="caret"></b>
					</a>
                    <ul class="dropdown-menu">
                       
                        <li class="divider"></li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
           
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
            	<% if(session.company != "admin"){ %>
       
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>   
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Upload Data <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="/employeeDetails">Employee Info</a>
                            </li>
                            <li>
                                <a href="/employeeBillDetails" id="employeeBill">Employee Claim Info</a>
                            </li>
                            <li>
                                <a href="/uploadImage" id="employeeBill">Employee Claim Image Upload</a>
                            </li>
                        </ul>
                    </li>                 
                    <li class="active">
                        <a href="/viewEmployees"><i class="fa fa-fw fa-file"></i>View Employees</a>
                    </li>   
                     <li class="active">
                        <a href="/viewClaims"><i class="fa fa-fw fa-file"></i>View Claims</a>
                    </li>  
                     <li class="active">
                        <a href="/searchCPT"><i class="fa fa-fw fa-file"></i>Search CPT Details</a>
                    </li>
                </ul>
                <% } else { %>
                	<ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/cptUpload"><i class="fa fa-fw fa-dashboard"></i> Upload CPT data</a>
                    </li>  
                     <li class="active">
                        <a href="/searchCPTAdmin"><i class="fa fa-fw fa-file"></i>Search/Edit CPT data</a>
                    </li>
                </ul>
                <% } %>
            </div>
            <% } else { %>
            	<ul class="nav navbar-right top-nav">
	                <li class="dropdown">
	                    <a href="/">Home</a>
	                </li>
	            </ul>
            <% } %>
            <!-- /.navbar-collapse -->
        </nav>
