#container1{
	color: black;
	font-weight: bold;
}
#detectfraud{
	background-color:#336666;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:18px;
	border:1px solid #336666;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 21px;
	text-decoration:none;
	text-shadow:0px 1px 0px #336666;
}
#detectfraud:hover{
	background-color:#339966;
}
#tab1 table { 
	border-collapse: collapse; 
	text-align: left; 
	width: 100%;
}
#tab1{
	font: normal 13px/150% Arial, Helvetica, sans-serif;
	background: #fff;
	overflow: hidden;
	border: 1px solid #336666;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#tab1 table td, th { padding: 3px 10px; }
#tab1 table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #336666), color-stop(1, #336666) );
	background:-moz-linear-gradient( center top, #336666 5%, #336666 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D997D', endColorstr='#187F11');
	background-color:#7D997D; 
	color:#FFFFFF; 
	font-size: 15px; 
	font-weight: bold; 
	border-left: 1px solid #336666;
}

#tab1 table tbody td { color: black; font-size: 13px;font-weight: normal; }
#tab1 table tbody .alt td { 
	background: #DFFFDE; 
	color: #337ab7; 
}
#tab1 table tbody td:first-child { border-left: none; }
#tab1 table tbody tr:last-child td { border-bottom: none; }
#tab1 table tfoot td div { border-top: 1px solid #336666;background: #DFFFDE;}
#tab1 table tfoot td { padding: 0; font-size: 13px }
#tab1 table tfoot td div{ padding: 2px; }
#tab1 table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
#tab1 table tfoot  li { display: inline; }
#tab1 table tfoot li a {
	text-decoration: none; 
	display: inline-block;  
	padding: 2px 8px; 
	margin: 1px;
	color: #FFFFFF;
	border: 1px solid #336666;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #336666), color-stop(1, #336666) );
	background:-moz-linear-gradient( center top, #336666 5%, #336666 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#336666', endColorstr='#336666');
	background-color:#336666; 
}
#tab1 table tfoot ul.active, .datagrid table tfoot ul a:hover {
	text-decoration: none;
	border-color: #336666; 
	color: #FFFFFF; 
	background: none; 
	background-color: #336666;
}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }
/*modal for red flag*/
.redFlag{
	height:19px;
	width:20px;
}
.claim-details {
	width: 100%;
}
.claim-details table, th, td
{
	border: 1px solid black;
	border-collapse: collapse;
}
.claim-details td {
	padding: 15px;
	text-align: center;
}
.claim-details tr td:last-child {
    color: red;
}
.claim-details th {
	padding: 15px;
	text-align: center;
}
#details tr td:last-child {
    text-align: center;
}
#details th, td {
    border: 1px black solid;
}
#details_wrapper {
	padding: 20px;
    font-size: 15px;
}
.green-download {
	border: none;
	background: transparent;
}
.green-download img {
	height: 26px;
    width: 26px;
}
#time-range{
	display: inline-block;
}
#time-range input {
	display: block;
}
#time-range label {
	text-align: center;
	padding-right: 10px;
}
.search-table {
	padding: 10px;
    margin-top: 20px;
}
.search-table table{
	margin: 0px;
}
